.button {
  position: relative;
  border-radius: 20px;
  padding: 20px 40px;
  font-size: 20px;
  color: #000;
  height: 150px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: 0;
}

.text {
  position: relative;
  z-index: 1;
}
